@tailwind base;

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'cv01', 'cv02', 'ss01', 'cv10', 'kern', 'liga', 'calt';
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
