@tailwind base;




@supports (font-variation-settings: normal) {
  html {
    @apply antialiased;
    font-family: 'Inter var', sans-serif;
    min-width: 360px;
    scroll-behavior: smooth;
    font-size: 1em;
  }
}

@supports not (font-variation-settings: normal) {
  html {
    @apply antialiased;
    font-family: 'Inter', sans-serif;
    min-width: 360px;
    scroll-behavior: smooth;
    font-size: 1em;
  }
}
