@tailwind utilities;

@layer utilities {
  .app {
    @apply max-w-2xl px-4 mx-auto md:px-6 md:max-w-3xl lg:px-0;
  }

  .filter-none {
    filter: none;
    backdrop-filter: none;
  }

  .filter-grayscale {
    filter: grayscale(100%);
  }

  .filter-saturate {
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
  }

  .filter-blur {
    backdrop-filter: saturate(180%) blur(5px);
  }

  .header-default {
    @apply py-2 bg-white border-b border-gray-400 md:pt-5 md:pb-4 md:relative dark:border-opacity-30 border-opacity-20 dark:bg-dark;
  }

  .header-container {
    @apply fixed top-0 z-10 w-full bg-white border-b border-gray-700 dark:border-gray-300 dark:border-opacity-30 border-opacity-20 bg-opacity-70 dark:bg-dark dark:bg-opacity-40 filter-blur;
  }

  @supports not (backdrop-filter: none) {
    .header-container {
      @apply fixed top-0 z-10 w-full bg-white border-b border-gray-700 dark:border-gray-300 dark:border-opacity-30 bg-opacity-70 dark:bg-dark dark:bg-opacity-40 filter-none;
    }

    .header-default {
      @apply py-2 bg-white border-b border-gray-700 md:pt-5 md:pb-4 md:relative dark:border-gray-300 dark:border-opacity-30 border-opacity-20 dark:bg-dark;
    }
  }

  .text-primary {
    @apply text-gray-1000 dark:text-gray-50;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-tertiary {
    @apply text-gray-500 dark:text-gray-500;
  }

  .nav-default {
    @apply flex py-3 text-lg !leading-none font-bold;
  }

  .nav-md-default {
    @apply inline w-full h-full px-6 pt-4 pb-4 mx-2 text-primary;
  }

  .nav-active {
    @apply bg-gray-1000 bg-opacity-5 dark:bg-opacity-5 dark:bg-white text-primary filter-saturate filter-blur;
  }
  .nav-inactive {
    @apply hover:bg-gray-1000 filter-saturate hover:bg-opacity-5 dark:hover:bg-opacity-5 dark:hover:bg-white dark:text-gray-50 hover:text-gray-1000 dark:hover:text-gray-100 text-secondary;
  }

  .hdr-sm-btn {
    @apply px-3 py-2 font-semibold cursor-pointer text-primary;
  }

  .hdr-sm-title {
    @apply w-full px-3 py-3 text-base font-semibold cursor-pointer text-primary;
  }

  .hdr-sm-btn svg {
    @apply w-6 cursor-pointer;
  }

  .hdr-cnt-theme-btn {
    @apply absolute p-2 font-semibold cursor-pointer text-primary right-4 top-3 w-11;
  }

  .btn {
    @apply flex items-center justify-center px-4 py-2 space-x-2 text-sm font-semibold rounded;
  }

  .btn-secondary {
    @apply bg-white text-primary dark:bg-black;
  }

  .btn-primary {
    @apply bg-black text-gray-50 dark:text-gray-1000 dark:bg-white;
  }

  .btn-large {
    @apply px-6 py-3;
  }

  .prose .link-unstyled,
  .link-unstyled {
    @apply text-primary hover:border-b-2 !font-medium hover:border-gray-1000 dark:hover:border-gray-50;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
  }

  .prose .footer-border,
  .footer-border {
    @apply border-b-2 border-transparent dark:border-transparent;
  }

  .prose .link-lg,
  .link-lg {
    @apply text-lg !leading-normal md:text-xl md:!leading-relaxed !font-medium;
  }

  .dark .text-link {
    @apply !font-medium;
    color: #68b5fb;
  }

  .dark .text-link:hover {
    text-shadow: 0px 0px 1px rgb(59, 130, 246);
    filter: brightness(111%);
  }

  .light .text-link {
    @apply !font-medium text-blue-500;
  }

  .light .text-link:hover {
    text-shadow: 0px 0px 1px rgb(96, 165, 250);
  }

  .hr-stroke {
    @apply border-t border-gray-400 dark:border-gray-700;
  }

  .dark .fill-svg {
    fill: white;
  }
  .light .fill-svg {
    fill: black;
  }

  .task-list-item:before {
    @apply hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black dark:text-white;
  }

  .sub-heading {
    @apply font-medium mt-0 mb-0 !important;
  }
}
