@tailwind utilities;
@layer utilities {
  .text-primary {
    @apply text-gray-900 dark:text-gray-100;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-tertiary {
    @apply text-gray-600 dark:text-gray-400;
  }
  .text-display {
    @apply text-black dark:text-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-display;
  }

  .filter-none {
    filter: none;
    backdrop-filter: none;
  }

  .filter-grayscale {
    filter: grayscale(100%);
  }

  .filter-saturate {
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
  }

  .filter-blur {
    backdrop-filter: saturate(180%) blur(5px);
  }

  .header-default {
    @apply py-2 bg-white border-b border-gray-400 lg:border-none lg:filter-none lg:pt-6 lg:pb-3 lg:relative dark:border-opacity-30 border-opacity-20 dark:bg-dark;
  }

  .header-container {
    @apply fixed top-0 z-10 w-full bg-white border-b border-gray-700 dark:border-gray-300 dark:border-opacity-30 border-opacity-20 bg-opacity-70 dark:bg-dark dark:bg-opacity-70 lg:dark:bg-opacity-100 lg:filter-none lg:dark:filter-none filter-blur;
  }

  @supports not (backdrop-filter: none) {
    .header-container {
      @apply fixed top-0 z-10 w-full bg-white border-b border-gray-700 dark:border-gray-300 dark:border-opacity-30 bg-opacity-70 dark:bg-dark dark:bg-opacity-100 filter-none;
    }

    .header-default {
      @apply py-2 bg-white border-b border-gray-700 lg:border-none lg:filter-none lg:pt-6 lg:pb-3 lg:relative dark:border-gray-300 dark:border-opacity-30 border-opacity-20 dark:bg-dark;
    }
  }

  .nav-default {
    @apply flex py-3 text-base font-medium text-primary;
  }

  .nav-md-default {
    @apply px-6 py-2 mx-2 font-medium text-primary;
  }

  .nav-active {
    @apply bg-gray-900 bg-opacity-10 dark:bg-opacity-5 dark:bg-gray-100 text-primary filter-saturate filter-blur;
  }

  .nav-inactive {
    @apply filter-saturate text-primary;
  }

  .hdr-sm-btn {
    @apply flex-auto px-4 py-3 mx-2 font-medium cursor-pointer text-primary;
  }

  .hdr-sm-title {
    @apply w-full px-2 py-3 text-base font-medium cursor-pointer text-primary;
  }

  .hdr-sm-btn svg {
    @apply w-6 cursor-pointer;
  }

  .hdr-cnt-theme-btn {
    @apply absolute p-2 font-medium cursor-pointer text-primary right-4 top-3 w-11;
  }

  .btn {
    @apply flex items-center justify-center px-4 py-2 space-x-2 text-base font-medium;
  }

  .btn-primary {
    @apply text-white bg-black dark:text-black dark:bg-gray-100;
  }

  .btn-large {
    @apply w-full px-4 py-2;
  }

  .link-transition {
    transition: box-shadow 300ms ease 0s;
  }

  .link-transition:hover {
    @apply lg:shadow-black lg:dark:shadow-white;
    transition: box-shadow 100ms ease 0s;
  }

  .link-unstyled {
    @apply inline-block w-auto font-medium text-primary lg:link-transition;
  }

  .link-lg {
    @apply text-lg lg:text-xl !font-medium;
  }

  .text-link {
    @apply text-blue-500 font-medium hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-600 !important;
  }

  .hr-stroke {
    @apply border-t border-gray-400 dark:border-gray-700;
  }
  
  .prose .anchor {
    @apply absolute invisible;
    margin-left: -0.75em;
    width: 30%;
    cursor: pointer;
  }

  .anchor:hover {
    @apply visible no-underline;
  }

  .prose .anchor:before {
    @apply text-gray-900 dark:text-gray-100;
    content: '#';
  }

  .prose *:hover > .anchor {
    @apply visible no-underline;
  }

  .svg-fill {
    @apply fill-[black] dark:fill-[white] text-black dark:text-white;
  }

  .prose img {
    @apply m-0;
  }


  .sub-heading {
    @apply !font-medium text-xl md:text-2xl leading-normal my-1 !important;
  }

  .title-heading {
    @apply text-3xl  leading-9  md:text-5xl md:leading-10 lg:text-6xl lg:leading-14 !important;
  }
  
  .prose {
    @apply !text-primary;
  }
}
