@tailwind components;
@tailwind utilities;

/* Write your own custom base styles here */
ul,
ol,
li {
  @apply text-gray-1000 dark:text-gray-50;
}

p {
  @apply font-medium text-gray-1000 dark:text-gray-50;
}

a {
  @apply font-medium;
}

h6 {
  @apply text-base font-semibold text-gray-1000 dark:text-gray-50;
}

h5 {
  @apply text-lg font-semibold text-gray-1000 dark:text-gray-50;
}

h4 {
  @apply text-xl font-semibold text-gray-1000 dark:text-gray-50;
}

h3 {
  @apply text-2xl font-bold text-gray-1000 dark:text-gray-50;
}

h2 {
  @apply text-3xl font-bold text-gray-1000 dark:text-gray-50;
}

h1 {
  @apply text-4xl font-bold text-gray-1000 dark:text-gray-50;
}

.hdr-backdrop {
  @apply absolute top-0 left-0 w-full h-full bg-white bg-opacity-60 dark:bg-opacity-60 dark:bg-gray-900;
  z-index: -1;
  backdrop-filter: saturate(180%) blur(5px);
}

.hdr-base {
  @apply fixed left-0 right-0 px-2 py-1 m-0 -mt-px text-sm font-bold;
}

.hdr-base a {
  @apply w-full px-8 py-2 mx-px my-0 text-center rounded sm:w-auto sm:p-0;
}

.hdr-cnt {
  @apply justify-around hidden sm:flex;
}

.hdr-cnt-inner {
  @apply relative grid justify-center w-full max-w-2xl grid-cols-4 justify-self-center;
}

.hdr-sm-cnt {
  @apply flex justify-center text-base;
}

.hdr-sm-cnt a {
  @apply text-center;
}

.hdr-sm-cnt-expanded {
  @apply flex-col items-start pb-4;
}

.hdr-sm-cnt-not-expanded {
  @apply flex-row items-center pb-1;
}

.hdr-sm-btn {
  @apply flex items-center justify-center px-4 py-3 text-primary;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.hdr-sm-title {
  @apply inline-block w-full px-3 py-3 text-lg text-center cursor-pointer;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.hdr-sm-btn svg {
  @apply w-6;
}

.hdr-cnt-theme-btn {
  @apply absolute hidden p-2 text-gray-700 cursor-pointer right-4 top-1 w-11 sm:flex dark:text-gray-50;
}

.btn {
  @apply flex items-center justify-center px-4 py-2 space-x-2 text-sm font-medium transition-shadow border rounded shadow-sm bg-gray-950 border-gray-950 hover:bg-gray-950 hover:border-gray-800 focus:outline-none text-gray-50;
}

.btn-primary {
  @apply text-white bg-blue-500 border-none dark:bg-blue-600 hover:bg-blue-600 dark:hover:bg-blue-700;
}

.btn-outline {
  @apply bg-white bg-opacity-0 shadow-none hover:bg-opacity-20 hover:shadow-none;
}

.btn-large {
  @apply px-6 py-3 font-semibold rounded-md;
}

.text-primary {
  @apply text-gray-1000 dark:text-gray-50;
}

.text-secondary {
  @apply text-gray-800 dark:text-gray-200;
}

.text-tertiary {
  @apply text-gray-600 dark:text-gray-400;
}

.divider-gray {
  @apply text-gray-300 dark:text-gray-700;
}

.p-small {
  @apply text-sm font-semibold leading-6 text-gray-1000 dark:text-gray-50;
}

.black-link {
  @apply text-gray-900 dark:text-gray-100 hover:underline;
}

.nav-link {
  @apply text-sm font-semibold text-gray-1000 dark:text-gray-50 sm:py-2 sm:px-0 sm:text-center hover:text-blue-500 dark:hover:text-blue-400 dark:hover:bg-opacity-10 hover:bg-blue-500 hover:bg-opacity-10;
}

.nav-link.active {
  @apply text-blue-500 bg-blue-500 dark:text-blue-400 bg-opacity-10;
}

.hr-stroke {
  @apply w-full h-px max-w-4xl mx-auto bg-gray-300 dark:bg-gray-700;
}

.responsive-img {
  @apply md:mt-0 md:-mx-8;
}

.prose blockquote {
  @apply text-gray-900 border-l-2 border-gray-200 dark:text-gray-100 dark:border-gray-800;
}

.prose figure figcaption {
  @apply break-words;
  word-break: break-word;
  text-align: center;
}

.prose a {
  @apply text-blue-500 dark:text-blue-400;
}

.prose a code {
  @apply text-blue-500 dark:text-blue-400;
}

.prose table {
  @apply text-gray-900 dark:text-gray-100;
}

.prose strong,
.prose b {
  @apply text-gray-1000 dark:text-gray-50;
}

.prose p {
  @apply text-gray-800 break-words dark:text-gray-50;
  word-break: break-word;
}

.prose p + p {
  margin-top: 0;
}

.prose pre::-webkit-scrollbar {
  display: none;
}

.remark-code-title {
  @apply px-5 py-3 text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.remark-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

.prose code[class*='language-'],
.prose pre[class*='language-'] {
  @apply font-medium bg-gray-100 rounded text-gray-950 dark:text-gray-100 dark:bg-gray-950;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.prose pre[class*='language-'] {
  @apply m-0 overflow-auto border border-gray-200 dark:border-gray-800;
}

.dark .prose .token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.light .prose .token.attr-name {
  color: rgb(0, 128, 0);
  font-style: italic;
}

.dark .prose .token.comment {
  color: rgb(128, 147, 147);
}

.light .prose .token.comment {
  color: rgb(106, 115, 125);
}

.dark .prose .token.string,
.dark .prose .token.url {
  color: rgb(173, 219, 103);
}

.light .prose .token.string,
.light .prose .token.url {
  color: rgb(0, 128, 0);
}

.prose .token.variable {
  @apply text-gray-1000 dark:text-white;
}

.dark .prose .token.number {
  color: rgb(247, 140, 108);
}

.light .prose .token.number {
  color: rgb(227, 98, 9);
}

.dark .prose .token.builtin,
.dark .prose .token.char,
.dark .prose .token.constant,
.dark .prose .token.function {
  color: rgb(130, 170, 255);
}

.light .prose .token.builtin,
.light .prose .token.char,
.light .prose .token.constant,
.light .prose .token.function {
  color: rgb(0, 92, 197);
}

.dark .prose .token.punctuation {
  color: rgb(199, 146, 234);
}

.light .prose .token.punctuation {
  color: rgb(133, 89, 162);
}

.dark .prose .token.selector,
.dark .prose .token.doctype {
  color: rgb(199, 146, 234);
  font-style: 'italic';
}

.light .prose .token.selector,
.light .prose .token.doctype {
  color: rgb(133, 89, 162);
  font-style: 'italic';
}

.dark .prose .token.class-name {
  color: rgb(255, 203, 139);
}

.light .prose .token.class-name {
  color: rgb(166, 108, 38);
}

.dark .prose .token.tag,
.dark .prose .token.operator,
.dark .prose .token.keyword {
  color: #ffa7c4;
}

.light .prose .token.tag,
.light .prose .token.operator,
.light .prose .token.keyword {
  color: #ff4884;
}

.dark .prose .token.boolean {
  color: rgb(255, 88, 116);
}

.light .prose .token.boolean {
  color: rgb(215, 58, 73);
}

.dark .prose .token.property {
  color: rgb(128, 203, 196);
}

.light .prose .token.property {
  color: rgb(99, 205, 195);
}

.dark .prose .token.namespace {
  color: rgb(178, 204, 214);
}

.light .prose .token.namespace {
  color: rgb(113, 178, 205);
}

.prose pre:not([class*='language-']) , .prose code:not([class*='language-']) {
  @apply font-medium bg-gray-100 rounded text-gray-950 dark:text-gray-50 dark:bg-gray-950;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 1.75rem;
}

@media (max-width: 672px) {
  .prose pre[class*='language-'] {
    border-radius: 0.5rem;
  }
}

.blob {
  @apply text-gray-700 dark:text-gray-300;
}

.blob-pink {
  color: #ff007a;
  fill-opacity: 0.7;
}

.blob-orange {
  color: #ff8a00;
  fill-opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  .blob-pink {
    fill-opacity: 0.9;
  }

  .blob-orange {
    fill-opacity: 0.9;
  }
}

@media only screen and (max-width: 768px) {
  .meta-wrap {
    display: none;
  }
}

.meta-wrap {
  background: transparent;
  animation: 24s spin ease-in-out infinite;
  -webkit-filter: brightness(105%) saturate(200%) contrast(1);
  filter: brightness(105%) saturate(200%) contrast(1);
  border-radius: 16px;
  position: absolute;
  width: 100%;
  height: 140%;
  top: 60%;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.meta:before,
.meta:after {
  content: '';
  position: absolute;
  width: 212px;
  height: 212px;
  left: 50%;
  top: 50%;
  margin: -50px;
  background: linear-gradient(#ff9900, #ff007a);
  border-radius: 50%;

  -webkit-filter: blur(10px);
  filter: blur(10px);
  animation: move 100s infinite alternate ease-in-out;
}

.meta:before {
  animation-duration: 29.3s;
  animation-delay: -3.3s;
}

.meta:nth-child(2):before {
  animation-duration: 34.7s;
  animation-delay: -2.7s;
}

.meta:nth-child(2):after {
  animation-duration: 28.7s;
  animation-delay: -5.32s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    transform: translate(0%, 2%);
  }
  15% {
    transform: translate(-20%, 20%);
  }
  30% {
    transform: translate(30%, -30%);
  }
  40% {
    transform: translate(-20%, 20%);
  }
  60% {
    transform: translate(20%, -20%);
  }
  80% {
    transform: translate(-20%, -10%);
  }
  100% {
    transform: translate(20%, 10%);
  }
}

@supports not (backdrop-filter: none) {
  .hdr-backdrop {
    backdrop-filter: none;
    @apply bg-opacity-100 border-b border-gray-400 dark:bg-opacity-100 dark:border-opacity-10 border-opacity-20;
  }
}
