@layer utilities {
  .prose .remark-code-title {
    @apply px-5 py-3 text-base font-semibold bg-gray-200 rounded-t text-primary dark:bg-gray-800;
  }

  .prose .remark-code-title + pre {
    @apply mt-0 mb-0 rounded-t-none;
  }

  .prose .mdx-marker {
    @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-gray-1000 dark:border-gray-50 dark:bg-gray-1000;
  }

  .prose code[class*='language-'],
  .prose pre[class*='language-'] {
    @apply mt-0 mb-0 font-mono text-sm font-medium bg-gray-100 text-primary dark:bg-gray-1000;
    font-feature-settings: normal;
    letter-spacing: normal;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Code blocks */
  .prose pre[class*='language-'] {
    overflow: auto;
  }

  .prose :not(pre) > code[class*='language-'] {
    padding: 0.1em;
    white-space: normal;
  }

  .dark .prose .token.attr-name {
    color: rgb(173, 219, 103);
    font-style: italic;
  }

  .light .prose .token.attr-name {
    color: rgb(0, 128, 0);
    font-style: italic;
  }

  .dark .prose .token.comment {
    color: rgb(128, 147, 147);
  }

  .light .prose .token.comment {
    color: rgb(106, 115, 125);
  }

  .dark .prose .token.string,
  .dark .prose .token.url {
    color: rgb(173, 219, 103);
  }

  .light .prose .token.string,
  .light .prose .token.url {
    color: rgb(0, 128, 0);
  }

  .prose .token.variable {
    @apply text-primary;
  }

  .dark .prose .token.number {
    color: rgb(247, 140, 108);
  }

  .light .prose .token.number {
    color: rgb(227, 98, 9);
  }

  .dark .prose .token.builtin,
  .dark .prose .token.char,
  .dark .prose .token.constant,
  .dark .prose .token.function {
    color: rgb(130, 170, 255);
  }

  .light .prose .token.builtin,
  .light .prose .token.char,
  .light .prose .token.constant,
  .light .prose .token.function {
    color: rgb(0, 92, 197);
  }

  .dark .prose .token.punctuation {
    color: rgb(199, 146, 234);
  }

  .light .prose .token.punctuation {
    color: rgb(133, 89, 162);
  }

  .dark .prose .token.selector,
  .dark .prose .token.doctype {
    color: rgb(199, 146, 234);
    font-style: 'italic';
  }

  .light .prose .token.selector,
  .light .prose .token.doctype {
    color: rgb(133, 89, 162);
    font-style: 'italic';
  }

  .dark .prose .token.class-name {
    color: rgb(255, 203, 139);
  }

  .light .prose .token.class-name {
    color: rgb(166, 108, 38);
  }

  .dark .prose .token.tag,
  .dark .prose .token.operator,
  .dark .prose .token.keyword {
    color: #ef769e;
  }

  .light .prose .token.tag,
  .light .prose .token.operator,
  .light .prose .token.keyword {
    color: rgb(229, 30, 96);
  }

  .dark .prose .token.boolean {
    color: rgb(255, 117, 162);
  }

  .light .prose .token.boolean {
    color: rgb(215, 58, 73);
  }

  .dark .prose .token.property {
    color: rgb(128, 203, 196);
  }

  .light .prose .token.property {
    color: rgb(99, 205, 195);
  }

  .dark .prose .token.namespace {
    color: rgb(178, 204, 214);
  }

  .light .prose .token.namespace {
    color: rgb(113, 178, 205);
  }

  .prose pre::-webkit-scrollbar {
    display: none;
  }

  .prose pre:not([class*='language-']),
  .prose code:not([class*='language-']) {
    @apply font-mono text-base font-medium bg-gray-100 rounded text-primary dark:bg-gray-1000 mb-7;
    letter-spacing: normal;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    -moz-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
