.prose .remark-code-title {
  @apply py-3 px-6 text-sm font-mono sm:text-base font-bold text-gray-800 bg-gray-200 border border-gray-200   dark:text-gray-200 dark:border-dark-secondary dark:bg-dark-secondary;
}

.prose .remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

.prose h4 + div > pre,
.prose h4 + .remark-code-title {
  @apply mt-4 !important;
}

.task-list-item:before {
  @apply hidden;
}


code[class*='language-'],
pre[class*='language-'] {
  @apply border border-gray-100  bg-gray-100 text-gray-700 dark:text-gray-300 dark:border-dark-tertiary dark:bg-dark-tertiary mt-0 mb-0 font-mono !important;
  font-feature-settings: normal;
  letter-spacing: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.prose pre[class*='language-'] {
  overflow: auto;
}

.prose :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
}

.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-[#e36209] dark:text-[#f78c6c];
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.comment
 {
  @apply text-gray-500;
}

.token.property,
.token.tag,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-[#4ea837] dark:text-[#addb67];
}

.token.namespace,
.token.selector,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500 dark:text-purple-400;
}

.token.operator,
.token.entity {
  @apply text-indigo-500 dark:text-indigo-400;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500 dark:text-blue-400;
}

.token.function,
.token.class-name {
  @apply text-pink-500 dark:text-pink-400;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500 dark:text-yellow-400;
}

.token.attr-name {
  @apply text-[#4ea837] dark:text-[#addb67];
  font-style: italic;
}

.token.string,
.token.url {
  @apply text-[#4ea837] dark:text-[#addb67];
}


.prose pre::-webkit-scrollbar {
  display: none;
}

.prose pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose pre:not([class*='language-']),
.prose code:not([class*='language-']) {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-dark-tertiary;
  font-feature-settings: normal;
  letter-spacing: normal;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}
