.prose .remark-code-title {
  @apply p-3 text-sm font-mono sm:text-base font-bold text-gray-700 bg-gray-200 border border-gray-200   dark:text-gray-200 dark:border-dark-tertiary dark:bg-dark-tertiary;
}

.prose .remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

.prose h4 + div > pre,
.prose h4 + .remark-code-title {
  @apply mt-4 !important;
}

.task-list-item:before {
  @apply hidden;
}

code[class*='language-'] {
  @apply bg-transparent !important;
}

pre[class*='language-'],
code[class*='language-'] {
  @apply border border-gray-100 bg-gray-100  text-gray-700 dark:text-gray-300 dark:border-dark-secondary dark:bg-dark-secondary  !important;
  font-feature-settings: normal;
  letter-spacing: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.prose pre[class*='language-'] {
  overflow: auto;
}

.prose :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  white-space: normal;
}

.token.entity,
.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  @apply text-gray-500;
}

.token.atrule,
.token.constant,
.token.delimiter,
.token.delimiter important,
.token.keyword,
.token.property,
.token.selector {
  @apply text-blue-600 dark:text-blue-400;
}

.token.attr-name,
.token.url,
.token.color,
.token.string,
.token.variable {
  @apply text-[#22863a] dark:text-[#addb67];
}

.token.attr-value,
.token.class-name,
.token.method,
.token.function {
  @apply text-[#e0276a] dark:text-pink-400;
}

.token.boolean,
.token.symbol,
.token.deleted,
.token.inserted,
.token.builtin,
.token.char,
.token.number {
  @apply text-red-600 dark:text-red-400;
}

.token.tag,
.token.operator,
.token.property-access {
  @apply text-purple-600 dark:text-purple-400;
}

.prose pre::-webkit-scrollbar {
  display: none;
}

.prose pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prose pre:not([class*='language-']),
.prose code:not([class*='language-']) {
  @apply text-gray-800 dark:text-gray-200 font-normal px-2 py-1 rounded bg-gray-100 dark:bg-dark-tertiary !important;
  font-feature-settings: normal;
  letter-spacing: normal;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}
