@tailwind utilities;
@layer utilities {
  .text-primary {
    @apply text-gray-900 dark:text-gray-100;
  }

  .text-secondary {
    @apply text-gray-700 dark:text-gray-300;
  }

  .text-tertiary {
    @apply text-gray-600 dark:text-gray-400;
  }

  .text-display {
    @apply text-gray-900 dark:text-gray-100;
  }

  h1,
  h2 {
    @apply text-display scroll-spacing-sm md:scroll-spacing-lg font-bold tracking-tight;
  }

  h3,
  h4 {
    @apply text-display scroll-spacing-sm md:scroll-spacing-lg font-semibold;
  }

  .header-sm {
    @apply fixed top-0 left-0 py-1 z-10 w-full bg-white border-b border-gray-200 dark:border-gray-700 dark:border-opacity-40 border-opacity-40 bg-opacity-70 dark:bg-dark-primary dark:bg-opacity-80 filter-blur;
  }

  @supports not (backdrop-filter: none) {
    .header-sm {
      @apply bg-opacity-100 dark:bg-opacity-100 filter-none backdrop-filter-none !important;
    }
  }

  .skip-content-nav {
    @apply hidden opacity-0 absolute md:inline px-4 py-2 transition-transform duration-200 transform -translate-y-12 text-primary focus:translate-y-3 focus:opacity-100 focus:top-4 left-60 -top-2;
  }

  .nav-default {
    @apply flex py-4 text-base font-medium text-primary;
  }

  .nav-active {
    @apply bg-gray-900 bg-opacity-10 dark:bg-opacity-10 dark:bg-gray-400  filter-blur;
  }

  .nav-inactive {
    @apply filter-saturate;
  }

  .hdr-sm-btn {
    @apply flex-auto px-6 py-4 font-medium cursor-pointer text-primary;
  }

  .hdr-sm-title {
    @apply w-full p-4 self-center text-base font-medium cursor-pointer text-primary;
  }

  .hdr-sm-btn svg {
    @apply w-6;
  }

  .hdr-cnt-theme-btn {
    @apply w-8 h-8  p-1 ml-4 mr-4 text-primary cursor-pointer;
  }

  .btn {
    @apply flex items-center justify-center px-4 py-2 space-x-2 text-base font-medium;
  }

  .btn-primary {
    @apply text-white bg-black dark:text-black dark:bg-white;
  }

  .btn-large {
    @apply w-full px-4 py-2;
  }

  .text-h1 {
    @apply heading-default md:text-7xl leading-none !important;
  }

  .text-h2 {
    @apply heading-default md:text-6xl leading-none  !important;
  }

  .text-h3 {
    @apply heading-default md:text-5xl leading-none !important;
  }

  .page-heading {
    @apply heading-default leading-9 md:leading-10 md:text-5xl lg:leading-14 !important;
  }

  .link-unstyled {
    @apply w-auto text-primary font-medium  md:hover:transition-colors md:hover:text-gray-500 md:dark:hover:text-gray-300  !important;
  }

  .primary-link {
    @apply w-auto text-blue-600 font-medium dark:text-blue-400 md:hover:transition-colors md:hover:text-blue-400 md:dark:hover:text-blue-300 !important;
  }

  .footer-grid {
    @apply grid grid-cols-1  py-12 md:gap-12 m-auto md:items-start md:grid-cols-3;
  }

  .footer-column {
    @apply flex flex-col items-start  space-y-8 py-4 px-2 md:items-center;
  }

  .filter-blur {
    backdrop-filter: saturate(180%) blur(4px);
  }

  .filter-saturate {
    -webkit-filter: brightness(105%) saturate(200%) contrast(1);
    filter: brightness(105%) saturate(200%) contrast(1);
  }

  .clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .clamp-2 {
    -webkit-line-clamp: 2;
  }

  .clamp-3 {
    -webkit-line-clamp: 3;
  }

  .clamp-4 {
    -webkit-line-clamp: 4;
  }

  .clamp-5 {
    -webkit-line-clamp: 5;
  }

  .heading-default {
    @apply text-3xl md:text-4xl text-display !important;
  }

  span.icon.icon-link {
    @apply cursor-pointer text-tertiary !font-normal opacity-0;
    font-size: inherit;
    padding-left: 0.375em;
    transition: all 150ms linear;
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  span.icon.icon-link:hover,
  span.icon.icon-link:focus {
    @apply text-blue-600 dark:text-blue-400;
  }

  span.icon.icon-link:hover,
  span.icon.icon-link:active {
    outline-width: 0 !important;
  }

  span.icon.icon-link:after {
    content: '#';
  }

  h1:hover span.icon.icon-link,
  h2:hover span.icon.icon-link,
  h3:hover span.icon.icon-link,
  h4:hover span.icon.icon-link,
  h1:focus span.icon.icon-link,
  h2:focus span.icon.icon-link,
  h3:focus span.icon.icon-link,
  h4:focus span.icon.icon-link {
    @apply opacity-100;
  }

  .prose p {
    @apply break-words !important;
    word-break: break-word !important;
  }

  .prose img {
    @apply w-full rounded-md !important;
  }
  .prose hr {
    @apply my-[2em]  md:my-[2.1em] !important;
  }
}
